.banner-center {
    align-content: center;
}

.banner-text {
    font-size: 48pt;
    font-family: "Agency FB", sans-serif;
    font-weight: 600;
}

.center {
    text-align: center;
}

.content-main {
    
}

.line-dark {
	width: 50%;
    border-color: #000000;
}

.main-font {
	font-family: "Agency FB", sans-serif;
}